DATABASE_URL="file:./dev.db"
ADMIN_EMAIL="admin@web3bridge.com"
ADMIN_PASSWORD="change-me"
SESSION_SECRET="change-me-to-a-long-random-secret-at-least-32-chars"
PORTAL_API_URL="https://free-regina-web3bridge-39707ef5.koyeb.app"
